<div class="sidebar">
  <ul class="main-menu">
    <%- partial('partials/main_menu', { context: 'sidebar' }) %>
  </ul>
</div>

<div id="hero">
  <div class="inner">
    <div class="left">
      <img class="hero-logo" src="http://d.hiphotos.baidu.com/baike/w%3D268%3Bg%3D0/sign=db4c2d25abc379317d68812fd3ffd078/b90e7bec54e736d18c92632b9f504fc2d5626914.jpg">
    </div><div class="right">
      <h1>
        ReachMax文档系统首页
      </h1>
      <p>
<!--         <a class="button" href="/v2/guide/">GET STARTED</a>
        <a class="button white" href="https://github.com/vuejs/vue" target="_blank">GITHUB</a>
 -->      </p>
    </div>
  </div>
</div>

<div id="highlights">
  <div class="inner">
    <div class="point">
      <h2特性1</h2>
      <p>xxx</p>
    </div>
    <div class="point">
      <h2特性1</h2>
      <p>xxx</p>
    </div>
    <div class="point">
      <h2特性1</h2>
      <p>xxx</p>
    </div>


  </div>
</div>



<div id="footer">

  Copyright &copy; 2014-<%- new Date().getFullYear() %> Addnewer
</div>

<script>
var topScrolled = false
window.addEventListener('scroll', function () {
  if (window.pageYOffset > 165 && !topScrolled) {
    topScrolled = true
    document.getElementById('mobile-bar').classList.remove('top')
  } else if (window.pageYOffset <= 165 && topScrolled) {
    topScrolled = false
    document.getElementById('mobile-bar').classList.add('top')
  }
})
</script>
