<div id="header">
  <a id="logo" href="/">
    <!-- <img src="/images/reachmax.png"> -->
    <span>ReachMax运用场景手册</span>
  </a>
 <ul id="nav">
    <%- partial('partials/main_menu', { context: 'nav' }) %>
  </ul>
 </div>
